<div class="container">
    <nav class="navbar navbar-expand-md navbar-light  custom-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)"><h3 class="nav-text"> <span class="se">Se</span> <span class=""nd>Nd</span> <span class="i">i</span><span class=".snd">t</span> </h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custom-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/']"  >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Branches Location</a>
        </li>
      </ul>
      <form class="d-flex">
        <button [routerLink]="['/auth/signup']" class="btn custom-btn">Sign Up</button>
        <button [routerLink]="['/auth/login']"  class="btn custom-LoginBtn" type="button">Login</button>
      </form>
    </div>
  </div>
</nav>
</div>
