<div class="container-fluid bg-user">
  <div class="row">
    <!-- sidebar  -->
    <div class="col-md-2 pl-2 pr-2 sidebar">
       <div class="sendit-logo">
        <div col-md-6>
          <h6 class="nav-text">
          <span class="se">Se</span> <span class="" nd>Nd</span>
          <span class="i">i</span><span class=".snd">t</span>
        </h6>
        </div>
        
        <div  class="hambuger"><i (click)="navdisplay()" class="fa-solid fa-bars"></i></div>
      </div>
      <div class="row">
        <small class="text-muted">User Workspace</small>
      </div>
      <div class="row pt-1"><hr /></div>
      <div class="bottom__section">
        <div class="dashboard_btns">
          <button [routerLink]="['/user']"  class="btn bg-white text-warning">
            <span class="text-muted icons"
              ><i class="fa-solid pr-3 fa-house"></i
            ></span>
            My Parcels
          </button>
          <button [routerLink]="['/user/received']"  class="btn bg-white text-warning">
            <span class="text-muted icons"
              ><i class="fa-solid fa-truck-fast"></i
            ></span>
            Received
          </button>
          <button [routerLink]="['/user/sent']" class="btn bg-white text-warning">
            <span class="text-muted icons"
              ><i class="fa-solid fa-flag"></i
            ></span>
            Sent
          </button>
          <button [routerLink]="['/user/request']" class="btn bg-white text-warning">
            <span class="text-muted icons"
              ><i class="fa-solid fa-envelope"></i></span>
            Make Request
          </button>
          
        </div>
        <div class="bottom">
          <div>
            
          </div>
          <hr />
          <div class="bottom__btn">
            <div class="user_desc">
              <h6>Daniel Maina</h6>
              <p class="text-muted">User</p>
            </div>
            <div class="btn_log">
              <i class="fa-solid logout_btn fa-power-off"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of sidebar  -->
    <div class="col-md-10 ml-2 right__side">
      <div class="row search-custom">
        <div class="search_bar">
          <div class="search_menu">
            <i class="fa-solid fa-magnifying-glass"></i
            ><input type="text" placeholder="Search here for a Parcel" />
          </div>
        </div>
      </div>



     
          



      <div class="row mt-3 " style="margin-left: 1rem;">
        <div class="container ">
          <div class="row gap-1">
            <div class="col-md-4 card shadow" style="margin-bottom: 1rem;">
              <canvas id="myChart" height="50" width="100"></canvas>
            </div>
            
            <div class="col-md-4 card shadow" style=" margin-bottom: 1rem;">
              <canvas id="mydonurght" height="50" width="100"></canvas>
            </div>
              <div class="col-md-2">
              <div class="outer">
                <div class="inner">
                  <div class=""><p>Thank you</p></div>
                  <div><small>Daniel</small></div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 card shadow" style="margin-left: 1rem; margin-bottom: 1rem;"> 
    <canvas id="mypolar" height="50" width="100"></canvas>
  </div> -->
          </div>
        </div>
        <div class="container container-custom">
          <router-outlet></router-outlet>
        </div>
         
         
      </div>
    </div>
  </div>
</div>
