 <div class="">
  <table class="table table-striped">
    <thead class="thead-warning bg-design">
      <tr>
        <th scope="col">Track No:</th>
        <th scope="col">From</th>
        <th scope="col">weight</th>
        <th scope="col">price</th>
      
      </tr>
    </thead>
    <tbody>  
      <tr *ngFor="let parcel of parcels$ |async">
        <td scope="row">{{ parcel.trackingno }}</td>
        <td>{{ parcel.receiver }}</td>
        <td>{{ parcel.weight }}</td>
        <td>Ksh {{ parcel.price }}</td>
        
      </tr>
    </tbody>
  </table>
</div>
