<div class="row form-create">
  <div class="col-md-8">
    <form [formGroup]="createParcelForm" (ngSubmit)="Update()">
      <div class="row"> 
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Sender:</label>
             <ng-select formControlName="sender"  class="form-control">
             <ng-option *ngFor="let username of usernames" [value]="username.username">{{username.username}}</ng-option>
             </ng-select>
            <small class="text-muted" *ngIf="createParcelForm.get('sender')?.invalid && createParcelForm.get('sender')?.touched">Sender required</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Reicever:</label>
            <ng-select formControlName="receiver"  class="form-control">
             <ng-option *ngFor="let username of usernames" [value]="username.username">{{username.username}}</ng-option>
             </ng-select>
             <small class="text-muted" *ngIf="createParcelForm.get('receiver')?.invalid && createParcelForm.get('receiver')?.touched">Receiver required</small>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
          <div class="form-group">
            <label for="">Weight:</label>
            <input formControlName="weight" type="text" placeholder="weight in Kgs" class="form-control">
             <small class="text-muted" *ngIf="createParcelForm.get('weight')?.invalid && createParcelForm.get('weight')?.touched">weight required</small>
          </div>
        </div>
          <div class="col-md-6">
          <div class="form-group">
            <label for="">price:</label>
            <input formControlName="price" type="number" placeholder="price in Ksh" class="form-control">
             <small class="text-muted" *ngIf="createParcelForm.get('price')?.invalid && createParcelForm.get('price')?.touched">weight required</small>
          </div>
        </div>
      </div>
         <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">From:</label>
             <input class="form-control" formControlName="fromlocation" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" />
      
             <small class="text-muted" *ngIf="createParcelForm.get('fromlocation')?.invalid && createParcelForm.get('fromlocation')?.touched">Required</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">To:</label>
             <input class="form-control" formControlName="tolocation" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange1($event)" /> <!-- <input class="form-control" formControlName="to" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange1($event)" /> -->
            <small class="text-muted" *ngIf="createParcelForm.get('tolocation')?.invalid && createParcelForm.get('tolocation')?.touched">Required</small>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Picked Date:</label>
            <input formControlName="pickdate" type="date" placeholder="weight in Kgs" class="form-control">
            <small class="text-muted" *ngIf="createParcelForm.get('pickdate')?.invalid && createParcelForm.get('pickdate')?.touched">Required</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Delivered Date:</label>
            <input formControlName="arrivaldate" type="date" placeholder="weight in Kgs" class="form-control">
             <small class="text-muted" *ngIf="createParcelForm.get('arrivaldate')?.invalid && createParcelForm.get('arrivaldate')?.touched">Required</small>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-12">
          <div class="form-group">
            <label for="">Tracking Number:</label>
            <input formControlName="trackingno" type="" placeholder="example...XHT23JG" class="form-control">
             <small class="text-muted" *ngIf="createParcelForm.get('trackingno')?.invalid && createParcelForm.get('trackingno')?.touched">Required</small>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-12">
          <div class="form-group">
        
            <input [disabled]="createParcelForm.invalid" [ngClass]="{disabled:createParcelForm.invalid}" type="submit" value="Update Parcel" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
