 <app-nav></app-nav>
<div class="container-fluid custom-home">
  <div class="container hero">
    <div class="hero_description">
      <h1 class="hero__head">
        Take The Hassles <br />
        Out Of Your <br />
        Delivery.
      </h1>
      <p class="hero__header-desc">
        We Deliver Parcels as received,Experience High Quality delivery services
        Entrust Us With Your Parcel.
      </p>
      <div class="hero__btns">
        <button class="btn-custom">
          Call Now
          <span class="hero-btn"
            ><i class="fa-solid fa-chevron-right"></i
          ></span>
        </button>
        <button class="btn-custom">
          Call Now
          <span class="hero-btn"><i class="fa-solid fa-check"></i></span>
        </button>
      </div>
    </div>
  </div>
  <div class="hero-img">
    <img src="../../../../assets/images/sendhero.png" alt="" />
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row custom-row">
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <div class="desc-icon"><i class="fa-solid fa-people-arrows"></i
          ></div>
          <p class="text-muted">More Than 10 million users</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-center align-items-center">
          <div class="desc-icon"><i class="fa-regular fa-location-dot"></i></div>
          <p class="text-muted">120 Branches</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-center align-items-center">
          <div class="desc-icon"><i class="fa-regular fa-globe"></i></div>
          <p class="text-muted">26 Countries</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-center align-items-center">
          <div class="desc-icon"><i class="fa-solid fa-bag-shopping"></i></div>
          <p class="text-muted">120M Deliveries</p>
        </div>
      </div>
    </div>
  </div>
</div>
