<table class="table table-striped">
  <thead class="thead-warning">
    <tr>
      <th scope="col">Track No:</th>
      <th scope="col">Mode</th>
      <th scope="col">From</th>
      <th scope="col">Weight</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">ADF12GFH</td>
      <td>Received</td>
      <td>Daniel</td>
      <td>12kgs</td>
      <td><div class="status-sent">Recieved</div></td>
     
    </tr>
    <tr>
      <td scope="row">ADF12GFH</td>
      <td>Sent</td>
      <td>Maina</td>
      <td>20kg</td>
      <td><div class="status pl-1 pr-2">Pending</div></td>

    </tr>
    
  </tbody>
</table>

