<div class="table-responsive table-design">
<table class="table table-striped">
  <thead class="thead-warning bg-design">
    <tr>
      <th scope="col">Track No:</th>
      <th scope="col">Mode</th>
      <th scope="col">From</th>
      <th scope="col">Weight</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
    
      
    </tr>
  </thead>
  <tbody>
    <!-- loop  -->
    <tr>
      <td scope="row">ADF12GFH</td>
      <td>Received</td>
      <td>Daniel</td>
      <td>12kgs</td>
      <td><button class="btn btn-sm btn-primary">Recieved</button></td>
      <td><button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">View Details</button></td>
     
    </tr>
    <!-- modal  -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">parcel.from.address | slice:0:10 }} - parcel.to.address | slice:0:10</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
                    (mapMousemove)="move($event)">
                    <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                      [options]="markerOptions">
                    </map-marker>

                  </google-map>
                  <div class="row mb-2">
                    <div class="col-md-3">
                      <p >Tracking No: <small class="modal-side-title"><!-- modal  -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">parcel.from.address | slice:0:10 }} - parcel.to.address | slice:0:10 </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
                    (mapMousemove)="move($event)">
                    <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                      [options]="markerOptions">
                    </map-marker>

                  </google-map>
                  <div class="row mb-2">
                    <div class="col-md-3">
                      <p >Tracking No: <small class="modal-side-title">parcel.tracking_no</small></p>
                    </div>
                    <div class="col-md-3">
                      <p >weight: <small class="modal-side-title">parcel.weight</small></p>
                    </div>
                    <div class="col-md-3">
                      <p >Cost: <small class="modal-side-title">parcel.price }}</small></p>
                    </div>
                    <div class="col-md-3">
                      <p >Receiver: <small class="modal-side-title">parcel.receiver</small></p>
                      
                    </div>
                    <div class="col-md-3">
                      <p >Sender: <small class="modal-side-title">parcel.sender </small></p>

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- end of Modal  --></small></p>
                    </div>
                    <div class="col-md-3">
                      <p >weight: <small class="modal-side-title">parcel.weight </small></p>
                    </div>
                    <div class="col-md-3">
                      <p >Cost: <small class="modal-side-title">parcel.price </small></p>
                    </div>
                    <div class="col-md-3">
                      <p >Receiver: <small class="modal-side-title">parcel.receiver</small></p>
                      
                    </div>
                    <div class="col-md-3">
                      <p >Sender: <small class="modal-side-title">parcel.sender</small></p>

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- end of Modal  -->
    <!-- end of the loop  -->
    
  </tbody>
</table>


</div>
