
tr{
    font-weight: 100;
}
.table-design{
    
    margin-left: -1rem;
    margin-right: 1rem;
    
}
.bg-design{
    background-color:#cf9117 ;
}
.loader {
    color: #CF9117;
    margin-top: 2rem;
    margin-left: 2rem;
}