<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <img class="img-fluid" src="../../assets/images/errror.svg" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
            <h4>Ooops!. The page doesnt exist</h4>
            <div>
                <button [routerLink]="['/']" class="btn btn-primary">Go back home</button>
            </div>
        </div>
    </div>
</div>